<section div class="gallery">
    <button id ="gallery-btn">Show me some gif about JCVD</button>
    <div id ="gallery-container"></div>
</section>
<script src="scripts/script.js" type="module"></script>