

<section class="presentation">
    <img src ="https://ninjaselection.com/wp-content/uploads/2020/03/best-jean-claude-van-damme-movies-by-ninja-selection.jpg" alt ="jcvd-picture">
    <h1>Jean Claude Van Damme</h1>
    <p>Everything to know about the famous Belgian martial artist!</p>
</section>