<section class="work">
    <h2>Some of the best JCVD's movies</h2>
    <ul>
        <li><img src="https://www.denofgeek.com/wp-content/uploads/2020/02/01-bloodsport.jpg" alt="bloodsport-img"><span>1. Bloodsport (1988)</span></li>
        <li><img src="https://www.denofgeek.com/wp-content/uploads/2020/02/02-uni-sol.jpg" alt="universal-soldier-img"><span>2. Universal Soldier (1992)</span></li>
        <li><img src="https://www.denofgeek.com/wp-content/uploads/2020/02/03-timecop.jpg" alt="timecop-img"><span>3. Timecop (1994)</span></li>
    </ul>
</section>